@media screen and (max-width: 576px) {
    .container{
        display: flex;
        justify-content: center;
        height: 100%;
    }
    
    .carousel{
        width: 90%;
        height: 40vh;
        display: flex;
        align-items: center;
    }
    .propertyContainer{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border-radius: 15px;
        background-color: rgb(0,0,0,.1);
        padding: 1%;
    }
    
    .propertyContainer h4{
        text-align: flex-start;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #4a4a4a;
    }
    
    .propertyContainer h3 {
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #4a4a4a;
        height: 20%;
        width: 100%;
        font-size: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .propertyContainer img{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        cursor: pointer;
    }
    
    .propertyContainer button {
        cursor: pointer;
        border-radius: 5px;
        color: white;
        background-color: #B84644;
        width: 50%;
        align-self: center;
    }

    .carousel hr {
        width: 90%;
        border-color: #B84644;
    }
}

@media screen and (min-width: 577px) and (max-width: 1025px) {
    .container{
        display: flex;
        justify-content: center;
    }
    
    .carousel{
        width: 90%;
        height: 40vh;
        display: flex;
        align-items: center;
    }
    .propertyContainer{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    
    .propertyContainer h4{
        text-align: flex-start;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #4a4a4a;
    }
    
    .propertyContainer h3 {
        text-align: flex-start;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #4a4a4a;
        height: 20%;
        font-size: 100%;
    }
    
    .propertyContainer img{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        cursor: pointer;
    }
    
    .carousel button {
        cursor: pointer;
        border-radius: 5px;
        color: #4a4a4a;
        background-color: rgb(215,215,215);
    }
    
    .carousel button:hover {
        color: white;
        background-color: #B84644;
    }
}

@media screen and (min-width: 1026px) {
    .container{
        display: flex;
        justify-content: center;
    }
    
    .carousel{
        width: 90%;
        height: 40vh;
        display: flex;
        align-items: center;
    }
    .propertyContainer{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 1%;
        background-color: rgb(0,0,0,.1);
    }
    
    .propertyContainer h4{
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #4a4a4a;
    }
    
    .propertyContainer h3 {
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
        color: #4a4a4a;
        height: 20%;
        font-size: 100%;
    }
    
    .propertyContainer img{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        cursor: pointer;
    }
    
    .carousel button {
        cursor: pointer;
        border-radius: 5px;
        color: #4a4a4a;
        background-color: rgb(215,215,215);
    }
    
    .carousel button:hover {
        color: white;
        background-color: #B84644;
    }

    .carousel hr {
        width: 90%;
        margin: 1%;
        border-color: #B84644;
    }
}