.admin{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}

.home {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controlPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}

.adminLogin{
    width: 40%;
    height: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
}

.nav{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: rgb(215,215,215);
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
}

.logoContainer img {
    height: 90%;
    width: auto;
}

.buttonContainer{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.buttonContainer button {
    background-color: white;
    border: 1px solid black;
}