.loading {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: white;
}

.loading img {
    margin-top: 30%;
    width: 20%;
}

@media screen and (max-width: 576px) {
    .detail {
        position: relative;
        width: 98vw;
        display: flex;
        flex-direction: column;
        gap: 2%;
        margin-top: 2%;
    }

    .basicInfo {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .photos {
        position: relative;
        display: flex;
        width: 100%;
        height: 40%;
    }

    .photoOverlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgb(0, 0, 0, .5);
    }

    .photo {
        position: relative;
        width: 100%;
        border-radius: 15px;
    }

    .categoryImg {
        position: absolute;
        width: 50%;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .left {
        width: 10%;
        height: 100%;
        position: absolute;
        font-size: 200%;
        color: white;
        font-weight: 999;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        cursor: default;
        z-index: 2;
    }

    .right {
        width: 10%;
        height: 100%;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 200%;
        color: white;
        font-weight: 999;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        cursor: default;
        z-index: 2;
    }

    .info {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1%;
        margin-top: 2%;
    }

    .info hr {
        position: relative;
        width: 100%;
        border: 1px solid #7a2f2f;
    }

    .name {
        position: relative;
        display: flex;
        width: 100%;
        height: 8%;
        align-items: center;
    }

    .name h2 {
        margin: 0;
        color: #4a4a4a;
    }

    .location {
        position: relative;
        display: flex;
        width: 100%;
        height: 8%;
        align-items: center;
    }

    .location h3 {
        margin: 0;
        color: #4a4a4a;
    }

    .infoContainer {
        position: relative;
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        gap: 2.5%;
        justify-content: space-evenly;
        align-items: center;
    }

    .infoLogo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        width: 17%;
        height: 80%;
        background-color: #B84644;
        border-radius: 5px;
    }

    .infoContainer img {
        width: 50%;
        margin: 0;
    }

    .infoContainer h4 {
        margin: 0;
    }

    .otherInfoContainer {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .price {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 75%;
        height: 100%;
    }

    .otherInfoContainer a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100%;
    }

    .whatsappLogo {
        position: relative;
        width: 25%;
    }

    .price h4 {
        position: relative;
        font-size: 2em;
        color: #4a4a4a;
        margin: 0;
        text-align: left;
    }

    .price img {
        height: 2.5em;
        margin: 0;
    }

    .description {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 10%;
        text-align: left;
    }

    .line {
        position: relative;
        align-self: center;
        width: 90%;
        height: 0;
        border: 1px solid #7a2f2f;
    }

    .otherInfo {
        position: relative;
        width: 98%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .otherInfo h4 {
        margin: 0;
        margin-top: 2%;
        align-self: flex-start;
    }

    .listItem {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 99%;
        height: 100%;
        gap: 2%;
        margin: 0;
    }

    .listItem img {
        position: relative;
        width: 10%;
        aspect-ratio: 1/1;
    }

    .services,
    .amenities,
    .others {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(10px, .5fr));
        grid-template-rows: repeat(10, .8fr);
        width: 100%;
        height: 40%;
        border: 1px solid;
        border-radius: 15px;
        border-color: #4a4a4a;
        padding: 1%;
        margin-top: 2%;
    }

    .otherInfo h5 {
        margin: 1%;
        padding: 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 1025px) {
    .detail {
        position: relative;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2%;
        margin: auto;
        margin-top: 2%;
        overflow: hidden;
    }

    .basicInfo {
        position: relative;
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: row;
        gap: 1%;
        margin-bottom: 1%;
    }

    .photos {
        position: relative;
        width: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photo {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        cursor: pointer;
    }

    .photoOverlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgb(0, 0, 0, .5);
    }

    .categoryImg {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 35%;
        z-index: 1;
    }

    .left {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 25%;
        z-index: 1;
        left: 0;
        color: rgb(237, 237, 237);
        font-size: 2em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 10%;
        height: 25%;
        right: 0;
        color: rgb(237, 237, 237);
        font-size: 2em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 48.5%;
        height: 100%;
        gap: 2%;
        border: solid 1px;
        border-radius: 15px;
        border-color: #4a4a4a;
    }

    .info hr {
        position: relative;
        width: 90%;
        margin: 0;
        margin-left: 2%;
        border: 1px solid #7a2f2f;
    }

    .name {
        width: 100%;
        height: 20%;
        text-align: left;
        margin-left: 2%;
        display: flex;
        align-items: center;
    }

    .name h2 {
        margin: 0;
        color: #4a4a4a;
        font-size: 2.3vw;
    }

    .location {
        width: 100%;
        height: 20%;
        text-align: left;
        margin-left: 2%;
        display: flex;
        align-items: center;
    }

    .location h3 {
        margin: 0;
        color: #4a4a4a;
    }

    .infoContainer {
        position: relative;
        width: 90%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2.5%;
        margin-left: 2%;
    }

    .infoLogo {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 85%;
        width: 12%;
        background-color: #B84644;
        border-radius: 5px;
    }

    .infoLogo img {
        height: auto;
        width: 50%;
    }

    .infoLogo h4 {
        margin: 0%;
        font-size: 1.3em;
        color: white;
        text-align: center;
    }

    .otherInfoContainer {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .price {
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 100%;
        align-items: center;
    }

    .price img {
        height: 100%;
        width: auto;
    }

    .otherInfoContainer a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100%;
    }

    .whatsappLogo {
        position: relative;
        width: 25%;
    }

    .price h4 {
        position: relative;
        font-size: 250%;
        color: #4a4a4a;
        margin: 0;
    }


    .description {
        position: relative;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2%;
        color: #4a4a4a;
        text-align: left;
        word-wrap: break-word;
    }

    .description p {
        width: 100%;
    }

    .line {
        position: relative;
        align-self: center;
        width: 90%;
        height: 0;
        border: 1px solid #7a2f2f;
    }

    .otherInfo {
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .otherInfoDiv {
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 100%;
    }

    .otherInfoDiv h4 {
        margin: 1%;
        padding: 0;
    }

    .otherInfo h5 {
        margin: 1%;
        padding: 0;
        font-size: 1.1vw;
    }

    .listItem img {
        position: relative;
        width: 10%;
        max-width: 20px;
        height: auto;
        aspect-ratio: 1/1;
    }

    .listItem {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 99%;
        height: 100%;
        margin-left: 1%;
    }

    .others {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(10px, .5fr));
        grid-template-rows: repeat(7, 1fr);
        row-gap: 1%;
        width: 100%;
        height: 95%;
        border: 1px solid;
        border-radius: 15px;
        border-color: #4a4a4a;

    }

    .amenities {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(10px, .5fr));
        grid-template-rows: repeat(7, 1fr);
        width: 100%;
        height: 95%;
        border: 1px solid;
        border-radius: 15px;
        border-color: #4a4a4a;

    }

    .services {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(10px, .5fr));
        grid-template-rows: repeat(7, 1fr);
        width: 100%;
        height: 95%;
        border: 1px solid;
        border-radius: 15px;
        border-color: #4a4a4a;

    }

    .gallery {
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, .5);
        border-radius: 25px;
    }

    .gallery h1 {
        position: absolute;
        cursor: pointer;
        top: 5%;
        right: 5%;
        color: white;
    }

    .galleryPhoto {
        width: 80%;
        height: 80%;
        border-radius: 15px;
    }

    .galleryLeft {
        position: absolute;
        z-index: 1;
        left: 3%;
        color: rgb(237, 237, 237);
        font-size: 3em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .galleryRight {
        position: absolute;
        z-index: 1;
        right: 3%;
        color: rgb(237, 237, 237);
        font-size: 3em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .galleryOverlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;
        z-index: 5;
        background-color: rgb(0, 0, 0, .5);
    }
}

@media screen and (min-width: 1026px) {
    .detail {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2%;
        margin-left: 20%;
        overflow: hidden;
    }

    .basicInfo {
        position: relative;
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: row;
        gap: 1%;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .photos {
        position: relative;
        width: 48.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1%;
    }

    .photo {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        cursor: pointer;
    }

    .photoOverlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgb(0, 0, 0, .5);
    }

    .categoryImg {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 35%;
        z-index: 1;
    }

    .left {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 25%;
        z-index: 1;
        left: 0;
        color: rgb(237, 237, 237);
        font-size: 2em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 10%;
        height: 25%;
        right: 0;
        color: rgb(237, 237, 237);
        font-size: 2em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 48.5%;
        height: 100%;
        gap: 1%;
        border: solid 1px;
        border-radius: 15px;
        border-color: #4a4a4a;
    }

    .info hr {
        position: relative;
        width: 90%;
        margin: 0;
        margin-left: 2%;
        border: 1px solid #7a2f2f;
    }

    .name {
        width: 100%;
        height: 20%;
        text-align: left;
        margin-left: 2%;
        display: flex;
        align-items: center;
    }

    .name h2 {
        margin: 0;
        color: #4a4a4a;
        font-size: 2vw;
    }

    .location {
        width: 100%;
        height: 20%;
        text-align: left;
        margin-left: 2%;
        display: flex;
        align-items: center;
    }

    .location h3 {
        margin: 0;
        color: #4a4a4a;
    }

    .infoContainer {
        position: relative;
        width: 90%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2.5%;
        margin-left: 2%;
    }

    .infoLogo {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 85%;
        width: 12%;
        background-color: #B84644;
        border-radius: 5px;
    }

    .infoLogo img {
        height: auto;
        width: 50%;
    }

    .infoLogo h4 {
        margin: 0%;
        font-size: 1.3em;
        color: white;
        text-align: center;
    }

    .otherInfoContainer {
        position: relative;
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75%;
        height: 100%;
    }

    .price img {
        height: 100%;
        width: auto;
    }

    .otherInfoContainer a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100%;
    }

    .whatsappLogo {
        position: relative;
        width: 25%;
    }

    .price h4 {
        position: relative;
        font-size: 250%;
        color: #4a4a4a;
        margin: 0;
    }


    .description {
        position: relative;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2%;
        color: #4a4a4a;
        text-align: left;
        word-wrap: break-word;
    }

    .description p {
        width: 100%;
    }

    .line {
        position: relative;
        align-self: center;
        width: 90%;
        height: 0;
        border: 1px solid #7a2f2f;
    }

    .otherInfo {
        position: relative;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .otherInfoDiv {
        display: flex;
        flex-direction: column;
        width: 32%;
        height: 100%;
    }

    .otherInfoDiv h4 {
        margin: 1%;
        padding: 0;
    }

    .otherInfo h5 {
        margin: 1%;
        padding: 0;
        font-size: 1.1vw;
    }

    .listItem img {
        position: relative;
        width: 10%;
        max-width: 20px;
        height: auto;
        aspect-ratio: 1/1;
    }

    .listItem {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 99%;
        height: 100%;
        margin-left: 1%;
    }

    .others {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        grid-template-rows: repeat(7, 1fr);
        row-gap: 1%;
        width: 100%;
        height: 95%;
        border: 1px solid;
        border-radius: 15px;
        border-color: #4a4a4a;

    }

    .amenities {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        grid-template-rows: repeat(7, 1fr);
        width: 100%;
        height: 95%;
        border: 1px solid;
        border-radius: 15px;
        border-color: #4a4a4a;

    }

    .services {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        grid-template-rows: repeat(7, 1fr);
        width: 100%;
        height: 95%;
        border: 1px solid;
        border-radius: 15px;
        border-color: #4a4a4a;

    }

    .gallery {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0, .5);
        border-radius: 25px;
    }

    .gallery h1 {
        position: absolute;
        cursor: pointer;
        top: 5%;
        right: 5%;
        color: white;
    }

    .galleryPhoto {
        width: 80%;
        height: 80%;
        border-radius: 15px;
    }

    .galleryLeft {
        position: absolute;
        z-index: 1;
        left: 3%;
        color: rgb(237, 237, 237);
        font-size: 3em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .galleryRight {
        position: absolute;
        z-index: 1;
        right: 3%;
        color: rgb(237, 237, 237);
        font-size: 3em;
        text-shadow: 1px 1px black;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .galleryOverlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;
        z-index: 5;
        background-color: rgb(0, 0, 0, .5);
    }
}