.loading{
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: white;
}

.loading img {
  margin-top: 30%;
  width: 20%;
}

@media screen and (max-width: 576px) {
  .loading{
    width: 100vw;

  }

  .home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 100%;
  }

  .title2,
  .title{
    width: 100vw;
    height: 5vh;
    padding-left: 1%;
    background-color: #B84644;
    color: white;
    display: flex;
    align-items: center;
  }

  .title2 h1,
  .title h1 {
    margin: 0;
    margin-left: 2%;
    font-size: 100%;
  }

  .title,
  .title2 {
    margin-top: 5%;
  }

  .carousel{
    margin-top: 2%;
    width: 98%;
  }

  .lastCarousel {
    margin-top: 5%;
    width: 100%;
    height: 40vh;
  }

  .servicios,
  .tasaciones,
  .inversiones{
    position: relative;
    margin-top: 2%;
    width: 98%;
  }

  .servicios,
  .tasaciones,
  .inversiones article{
    height: 100%;
    text-align: justify;
    line-height: 150%;
  }

  .serviciosImg,
  .inversionesImg{
    width: 35%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 3%;
  }

  .tasacionesImg{
    width: 35%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: right;
    margin-left: 3%;
  }
}

@media screen and (min-width: 577px) and (max-width: 1025px) {
  .loading{
    width: 100vw;
  }

  .home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
  }

  .title2,
  .title{
    width: 100vw;
    height: 8vh;
    padding-left: 1%;
    background-color: #B84644;
    color: white;
    display: flex;
    align-items: center;
  }

  .title2,
  .title h1 {
    margin: 0;
    margin-left: 2%;
  }

  .title2 {
    margin-top: 5%;
  }

  .carousel{
    margin-top: 2%;
    width: 98%;
  }

  .lastCarousel {
    margin-top: 5%;
    width: 100%;
    height: 40vh;
  }

  .servicios,
  .tasaciones,
  .inversiones{
    position: relative;
    margin-top: 2%;
    width: 98%;
    overflow-x: hidden;
  }

  .servicios,
  .tasaciones,
  .inversiones article{
    height: 100%;
    text-align: justify;
    line-height: 150%;
  }

  .serviciosImg,
  .inversionesImg{
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 3%;
  }

  .tasacionesImg{
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: right;
    margin-left: 3%;
  }
}

@media screen and (min-width: 1026px) {
  .home{
    position: relative;
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    overflow-x: hidden;
  }
  .title2,
  .title{
    width: 100%;
    height: 8vh;
    padding-left: 5%;
    background-color: #B84644;
    color: white;
    display: flex;
    align-items: center;
  }

  .title2,
  .title h1 {
    margin: 0;
  }

  .title2 {
    margin-top: 5%;
  }

  .carousel{
    margin-top: 2%;
    width: 80%;
  }

  .lastCarousel {
    margin-top: 1%;
    width: 100%;
    height: 47vh;
    margin-bottom: 0;
  }

  .servicios,
  .tasaciones,
  .inversiones{
    position: relative;
    margin-top: 2%;
    width: 90%;
  }

  .servicios,
  .tasaciones,
  .inversiones article{
    text-align: justify;
    line-height: 150%;
  }

  .serviciosImg,
  .inversionesImg{
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 3%;
  }

  .tasacionesImg{
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: right;
    margin-left: 3%;
  }
}
