.loading {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: white;
}

.loading img {
  margin-top: 30%;
  width: 20%;
}

@media screen and (max-width: 576px) {
  .loading {
    width: 100vw;

  }

  .home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 100%;
  }

  .title2,
  .title {
    width: 100vw;
    height: 5vh;
    padding-left: 1%;
    background-color: #B84644;
    color: white;
    display: flex;
    align-items: center;
  }

  .title2 h1,
  .title h1 {
    margin: 0;
    margin-left: 2%;
    font-size: 100%;
  }

  .title,
  .title2 {
    margin-top: 5%;
  }

  .carousel {
    margin-top: 2%;
    width: 98%;
  }
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    height: 20vh;
    width: 98%;
  }

  .typeFilter {
    width: 32.5%;
    height: 60%;
  }

  .typeFilter h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4a4a4a;
    height: 50%;
    text-align: center;
    margin: 0;
    cursor: default;
  }

  .filters {
    width: 50%;
    height: 60%;
    background-color: #7a2f2f;
  }

  .filtersHeaders{ 
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
  }

  .filtersHeaders h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4a4a4a;
    height: 100%;
    width: 50%;
    text-align: center;
    margin: 0;
    cursor: default;
  }
  
  .buttonContainer {
    width: 17.5%;
    height: 60%;
    display: flex;
    align-items: flex-start;
  }

  .buttonContainer button {
    width: 100%;
    height: 50%;
    color: white;
    border: none;
    background-color: #B84644;
    cursor: pointer;
    font-weight: bold;
  }

  .buttonContainer button:hover {
    background-color: #B84644;
  }

  .typeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .typeButton {
    height: 100%;
    width: 50%;
    cursor: pointer;
    color: #4a4a4a;
    background-color: rgb(215, 215, 215);
    font-weight: bold;
  }

  .typeButtonActive {
    height: 100%;
    width: 50%;
    cursor: pointer;
    color: white;
    background-color: #B84644;
    font-weight: bold;
  }

  .filterContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .filterButton {
    width: 50%;
    height: 100%;
    color: #4a4a4a;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    font-weight: bold;
  }

  .filterButtonActive {
    width: 50%;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: #B84644;
    font-weight: bold;
  }

  .selectors {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
  }

  .type {
    position: relative;
    left: 0;
    z-index: 2;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    transition: ease .3s;
  }

  .location {
    position: relative;
    left: 0;
    z-index: 2;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    transition: ease .3s;
  }

  .selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    transition: .1s ease-out;
    overflow: hidden;
    color: #4a4a4a;
  }

  .selector button:hover {
    cursor: pointer;
    border-left-width: .1em;
    color: #B84644;
  }

  .selector button {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font: arial;
    font-size: .8em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-left: .2%;
    padding-right: .2%;
    padding-top: .7%;
    padding-bottom: .7%;
    color: black;
    cursor: pointer;
    border-left: solid;
    border-left-color: #7a2f2f;
    border-left-width: 0;
  }

  .locationSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14%;
    transition: .1s ease-out;
    overflow: hidden;
  }

  .locationSelector button:hover {
    cursor: pointer;
    border-left-width: .1em;
    color: #B84644;
  }

  .locationSelector button {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font: arial;
    font-size: .8em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-left: .2%;
    padding-right: .2%;
    padding-top: .7%;
    padding-bottom: .7%;
    color: black;
    cursor: pointer;
    border-left: solid;
    border-left-color: #7a2f2f;
    border-left-width: 0;
  }

  .lastCarousel {
    margin-top: 5%;
    width: 100%;
    height: 40vh;
  }

  .servicios,
  .tasaciones,
  .inversiones {
    position: relative;
    margin-top: 2%;
    width: 98%;
  }

  .servicios,
  .tasaciones,
  .inversiones article {
    height: 100%;
    text-align: justify;
    line-height: 150%;
  }

  .serviciosImg,
  .inversionesImg {
    width: 35%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 3%;
  }

  .tasacionesImg {
    width: 35%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: right;
    margin-left: 3%;
  }
}

@media screen and (min-width: 577px) and (max-width: 1025px) {
  .loading {
    width: 100vw;
  }

  .home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
  }

  .title2,
  .title {
    width: 100vw;
    height: 8vh;
    padding-left: 1%;
    background-color: #B84644;
    color: white;
    display: flex;
    align-items: center;
  }

  .title2,
  .title h1 {
    margin: 0;
    margin-left: 2%;
  }

  .title2 {
    margin-top: 5%;
  }

  .carousel {
    margin-top: 2%;
    width: 98%;
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    height: 20vh;
    width: 80%;
  }

  .typeFilter {
    width: 40%;
    height: 100%;
  }

  .typeFilter h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4a4a4a;
    height: 50%;
    text-align: center;
    margin: 0;
    cursor: default;
  }

  .filters {
    width: 40%;
    height: 100%;
    background-color: #7a2f2f;
  }

  .filtersHeaders{ 
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
  }

  .filtersHeaders h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4a4a4a;
    height: 100%;
    width: 50%;
    text-align: center;
    margin: 0;
    cursor: default;
  }
  
  .buttonContainer {
    width: 20%;
    height: 50%;
    align-self: flex-start;
    background-color: #B84644;
  }

  .buttonContainer button {
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    background-color: #4a4a4a;
    cursor: pointer;
    font-weight: bold;
  }

  .buttonContainer button:hover {
    background-color: #B84644;
  }

  .typeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .typeButton {
    height: 100%;
    width: 50%;
    cursor: pointer;
    color: #4a4a4a;
    background-color: rgb(215, 215, 215);
    font-weight: bold;
  }

  .typeButtonActive {
    height: 100%;
    width: 50%;
    cursor: pointer;
    color: white;
    background-color: #B84644;
    font-weight: bold;
  }

  .filterContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .filterButton {
    width: 50%;
    height: 100%;
    color: #4a4a4a;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    font-weight: bold;
  }

  .filterButtonActive {
    width: 50%;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: #B84644;
    font-weight: bold;
  }

  .selectors {
    width: 100%;
    height: 10%;
    display: flex;
    gap: 5%;
    justify-content: center;
  }

  .type {
    position: relative;
    left: 0;
    z-index: 2;
    width: 45%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    transition: ease .3s;
  }

  .location {
    position: relative;
    left: 0;
    z-index: 2;
    width: 45%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    transition: ease .3s;
  }

  .selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    transition: .1s ease-out;
    overflow: hidden;
    color: #4a4a4a;
  }

  .selector button:hover {
    cursor: pointer;
    border-left-width: .1em;
    color: #B84644;
  }

  .selector button {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font: arial;
    font-size: .8em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-left: .2%;
    padding-right: .2%;
    padding-top: .7%;
    padding-bottom: .7%;
    color: black;
    cursor: pointer;
    border-left: solid;
    border-left-color: #7a2f2f;
    border-left-width: 0;
  }

  .locationSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14%;
    transition: .1s ease-out;
    overflow: hidden;
  }

  .locationSelector button:hover {
    cursor: pointer;
    border-left-width: .1em;
    color: #B84644;
  }

  .locationSelector button {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font: arial;
    font-size: .8em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-left: .2%;
    padding-right: .2%;
    padding-top: .7%;
    padding-bottom: .7%;
    color: black;
    cursor: pointer;
    border-left: solid;
    border-left-color: #7a2f2f;
    border-left-width: 0;
  }

  .lastCarousel {
    margin-top: 5%;
    width: 100%;
    height: 40vh;
  }

  .servicios,
  .tasaciones,
  .inversiones {
    position: relative;
    margin-top: 2%;
    width: 98%;
    overflow-x: hidden;
  }

  .servicios,
  .tasaciones,
  .inversiones article {
    height: 100%;
    text-align: justify;
    line-height: 150%;
  }

  .serviciosImg,
  .inversionesImg {
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 3%;
  }

  .tasacionesImg {
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: right;
    margin-left: 3%;
  }
}

@media screen and (min-width: 1026px) {
  .home {
    position: relative;
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    overflow-x: hidden;
  }

  .title2,
  .title {
    width: 100%;
    height: 8vh;
    padding-left: 5%;
    background-color: #B84644;
    color: white;
    display: flex;
    align-items: center;
  }

  .title2,
  .title h1 {
    margin: 0;
  }

  .title2 {
    margin-top: 5%;
  }

  .carousel {
    margin-top: 2%;
    width: 80%;
    margin-bottom: 2%;
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    height: 20vh;
    width: 80%;
  }

  .typeFilter {
    width: 40%;
    height: 100%;
  }

  .typeFilter h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4a4a4a;
    height: 50%;
    text-align: center;
    margin: 0;
    cursor: default;
    border-bottom: .5px solid white;
  }

  .filters {
    width: 40%;
    height: 100%;
    background-color: #7a2f2f;
  }

  .filtersHeaders{ 
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    border-bottom: .5px solid white;
  }

  .filtersHeaders h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4a4a4a;
    height: 100%;
    width: 50%;
    text-align: center;
    margin: 0;
    cursor: default;
    border-left: .5px solid white;
  }
  
  .buttonContainer {
    width: 20%;
    height: 50%;
    align-self: flex-start;
    background-color: #B84644;
    border-left: .5px solid white;
  }

  .buttonContainer button {
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    background-color: #4a4a4a;
    cursor: pointer;
    font-weight: bold;
  }

  .buttonContainer button:hover {
    background-color: #B84644;
  }

  .typeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .typeButton {
    height: 100%;
    width: 50%;
    cursor: pointer;
    color: #4a4a4a;
    background-color: rgb(215, 215, 215);
    font-weight: bold;
  }

  .typeButtonActive {
    height: 100%;
    width: 50%;
    cursor: pointer;
    color: white;
    background-color: #B84644;
    font-weight: bold;
  }

  .filterContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .filterButton {
    width: 50%;
    height: 100%;
    color: #4a4a4a;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    font-weight: bold;
  }

  .filterButtonActive {
    width: 50%;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: #B84644;
    font-weight: bold;
  }

  .selectors {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
  }

  .type {
    position: relative;
    left: 0;
    z-index: 2;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    transition: ease .3s;
  }

  .location {
    position: relative;
    left: 0;
    z-index: 2;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    transition: ease .3s;
  }

  .selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    transition: .1s ease-out;
    overflow: hidden;
    color: #4a4a4a;
  }

  .selector button:hover {
    cursor: pointer;
    border-left-width: .1em;
    color: #B84644;
  }

  .selector button {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font: arial;
    font-size: .8em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-left: .2%;
    padding-right: .2%;
    padding-top: .7%;
    padding-bottom: .7%;
    color: black;
    cursor: pointer;
    border-left: solid;
    border-left-color: #7a2f2f;
    border-left-width: 0;
  }

  .locationSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14%;
    transition: .1s ease-out;
    overflow: hidden;
  }

  .locationSelector button:hover {
    cursor: pointer;
    border-left-width: .1em;
    color: #B84644;
  }

  .locationSelector button {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font: arial;
    font-size: .8em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-left: .2%;
    padding-right: .2%;
    padding-top: .7%;
    padding-bottom: .7%;
    color: black;
    cursor: pointer;
    border-left: solid;
    border-left-color: #7a2f2f;
    border-left-width: 0;
  }

  .lastCarousel {
    margin-top: 1%;
    width: 100%;
    height: 47vh;
    margin-bottom: 0;
  }

  .servicios,
  .tasaciones,
  .inversiones {
    position: relative;
    margin-top: 2%;
    width: 90%;
  }

  .servicios,
  .tasaciones,
  .inversiones article {
    text-align: justify;
    line-height: 150%;
  }

  .serviciosImg,
  .inversionesImg {
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: left;
    margin-right: 3%;
  }

  .tasacionesImg {
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: right;
    margin-left: 3%;
  }
}