/* .App{
  background-image: url('../src/img/3083mitadcorrido.png');
  background-size: cover;
} */

@media screen and (max-width: 576px) {
  .App {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    min-height: 100vh;
  }
}

@media screen and (min-width: 577px) and (max-width: 1025px) {
  .App {
    overflow-x: hidden;
  }
}

